.cards {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}

.card1 {
  border: 2px solid #000;
  border-radius: 8px;
  max-width: 570px;
  height: 634px;
  box-shadow: 10px 10px 0 0 #000;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.card2 {
  border: 2px solid #000;
  border-radius: 8px;
  max-width: 570px;
  height: 634px;
  background: #fff;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.button {
  margin-left: 50%;
  transform: translateX(-50%);
  margin-top: 100px;
}

.title h2,
.title p {
  text-align: center;
}

.title h2 {
  font-weight: 700;
  font-size: 59px;
  line-height: 120%;
  letter-spacing: -0.02em;
  text-align: center;
  color: #000;
  margin: 0;
}

.title p {
  font-weight: 500;
  font-size: 22px;
  line-height: 160%;
  text-align: center;
  color: #4d4d4d;
  margin: 0;
}

.title {
  margin-top: 50px;
  margin-bottom: 100px;
}

.photo1 img {
  position: relative;
  top: 200px;
}

.content {
  margin-bottom: 140px;
}

#p {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #4d4d4d;
}

.text p {
  font-weight: 700;
  font-size: 14px;
  line-height: 160%;
  color: #4d4d4d;
  
}

.text h3 {
  font-weight: 700;
  font-size: 36px;
  line-height: 140%;
  letter-spacing: -0.02em;
  color: #cd4631;
}

.footTxt {
  display: flex;
  justify-content: space-between;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#date {
  font-weight: 700;
  font-size: 12px;
  line-height: 160%;
  color: #4d4d4d;
  border: none;
}

.footTxt p {
  border: 1px solid #4d4d4d;
  border-radius: 4px;
  padding: 6px 12px;
  height: 31px;
}
